<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <img class="image" src="../assets/aboutdlc1 - Copy.jpg" alt="">
        <div class="header1">
            <img class="image1" src="../assets/icon.png" alt="">
            <div>
                <div style="font-size:30px; color: white;">Discovery</div>
                <p style="color: white; font-size: 12px;">LAND COMPANY</p>
            </div>
        </div>
        <div class="header2">
            <a href="../template/about.html" class="textunderline" style="margin: 17px; color: white; font-size: 19px;"> About DLC</a>
            <a href="./ourworld.html"  class="textunderline" style="margin: 17px; color:white;font-size: 19px;">Our Worlds</a>
            <a href="./experience.html"  class="textunderline" style="margin: 17px;color:white;font-size: 19px;">Experiences</a>
            <a href="./discovery.html"  class="textunderline" style="margin: 17px;color: white;font-size: 19px;">Gallary</a>
            <a href=""  class="textunderline" style="margin: 17px;color: white;font-size: 19px;">Press</a>
            <a href="..//template/home.html" class="textunderline" style="color: aliceblue;font-size: 19px;margin: 17px;"><i class="fa-solid fa-bars"></i></a>

        </div>
        <div class="header3">Creating your <br>
            perfect world</div>
        <div style="color: white; position: absolute;top: 520px; left: 110px; font-size: 18px; color: #FFFFFFA6;">Scroll
            to explore</div>

    </div>
    <div class="first">
        <div> Founded in 1994 by Mike Meldman, Discovery Land Company is a <br>
            US-based real estate developer and operator of private residential <br>
            club communities and resorts with a world-renowned portfolio of <br>
            domestic and international properties.
        </div>
    </div>
    <div class="second">
        <div class="second1section">
            <div class="text1">Our Mission</div>
            <div class="text2">We don’t build buildings, but rather we build settings <br>
                where families can create intergenerational memories <br>
                and enrich their lives in exquisite and untouched <br>
                sanctuaries. Everything we do is driven by the <br>
                fundamental desire to create spaces where families can <br>
                be together.
                <p style="margin-top: 20px;">These settings offer a relaxed and comfortable sense of <br>
                    community featuring outstanding clubhouses,<br>
                    incredible residential offerings, premier golf courses, <br>
                    welcoming staff, world-class culinary offerings and our <br>
                    custom Outdoor Pursuits program; all offering the <br>
                    highest of service standards to enrich your experience. </p>

            </div>
        </div>
        <div class="second1section"><img class="secondimage" src="../assets/aboutdlc2.png" alt=""></div>

    </div>
    <div class="thirdfirst">
        <div>The Discovery Difference</div>
    </div>
    <div class="thirdsecond">
        <div class="slideimage" >
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img  src="../assets/aboutdlc3.1.jpg" class="d-block w-100 " alt="...">
                  </div>
                  <div class="carousel-item">
                    <img  src="../assets/aboutdlc3.2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/aboutdlc3.3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/aboutdlc3.4.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../assets/aboutdlc3.5.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
    
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>
        
    </div>


    <div class="fourth">
        <div class="fourthtext">
            <div class="fourthtext1">
                The Discovery Story
            </div>
            <div class="fourthtext2">
                <div style="font-size: 18px;padding-top: 120px; color: white;">
                    For almost three decades, Discovery has built communities that encourage <br>
                    both our development teams and members themselves to dream up the most <br>
                    fun experiences imaginable. The first development in Scottsdale set the <br>
                    standard for a Discovery community, complete with a championship golf <br>
                    course,stocked-to-the-brim comfort stations, luxurious residential offerings, <br>
                    five-star service, and more;since then, each community has built on the fun from <br>
                    the one that came before.
                </div>
                <button type="button"
                    style="height: 50px;width: 150px;margin-top: 60px;color: white; background-color: #181f1e; border: 1px solid white;">Play
                    Video</button>
            </div>
        </div>
        <div class="fourthimage">
            <img class="fourthimage1" src="../assets/aboutdlc3.6 - Copy.jpg" alt="">
        </div>

    </div>
    <div class="fifth">
        <img class="fifthimage" src="../assets/aboutdlc5.jpg" alt="">
    </div>
    <div class="fifth">
        <img class="fifthimage" src="../assets/aboutdlc6.jpg" alt="">
    </div>
    <div class="seven">
        <div class="seventxtcard">
            <div style="font-size: 35px; margin-bottom:43px;">Discovery Builders </div>
            <div style="font-size: 18px; color: #777777;">Every Discovery property is wonderfully in-tune with its <br>
                natural surroundings - a harmonious blend of the <br>
                architecturally impressive with the environmentally <br>
                sensitive. And your every expectation will be met, with <br>
                our meticulous eye for detail matching outstanding <br>
                levels of craftsmanship and master building.</div>
        </div>
        <div class="sevenfirstimage">
        </div>
        <div class="sevensecondimage"></div>
    </div>
    <div class="eight">
        <div class="eightcard">
            <div class="eightcard1">Our Worlds</div>
            <div class="eightcard2">
                <div class="data">
                    <button type="button" class="button" style="background-color: none;">Explore</button>
                </div>
            </div>

        </div>
    </div>
    <div class="footer1">
        <div class="sixfirstclass">
            <img style="height: 50px; width: 50px; margin-top: 120px; margin-left: 80px;background-color: white; border-radius: 50px;"
                src="../assets/icon.png " alt="">
        </div>
        <div class="sixsecondclass">
            <div class="six2frist">
                <p style="margin: 15px; font-size: 12px; color: white;">GET IN TOUCH</p>
                <a style="margin: 15px; font-size: 12px; color: white;" href="">(480)624-5200</a>
                <a href=""
                    style="margin: 15px; font-size: 16px; text-decoration: underline; color: white">mail@discoverylandco.com</a>
                <p style="margin: 20px; font-size: 17px; color: white">REAL ESTATE</p>
                <a href=""
                    style="margin: 20px; font-size: 16px; text-decoration: underline; color: white">realestate@discoverylandco.com</a>
            </div>
            <div class="six2second">
                <a href="./about.html" style="margin: 15px; color: white;"> About DLC</a>
                <a href="./ourworld.html" style="margin: 15px; color: white;">Our Worlds</a>
                <a href="./experience.html" style="margin: 15px;color: white;">Experiences</a>
                <a href="./discovery.html" style="margin: 15px;color: white;">Gallary</a>
                <a href="" style="margin: 15px;color: white;">Press</a>

            </div>
            <div class="six2third">
                <a href="" style="margin: 15px;color: white;"> Magazine</a>
                <a href="" style="margin: 15px;color: white;">Careers</a>
                <a href="" style="margin: 15px; color: white;">Foundation</a>
                <a href="" style="margin: 15px; color: white;">Company</a>
                <a href="" style="margin: 15px; color: white;">Contact</a>
                <a href="" style="margin: 15px;color: white;">Privacy</a>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="footerfirst">
            <p style="margin-top: 90px;margin-left: 60px;color: white;">© Discovery Land Company. All rights
                reserved.</p>
        </div>
        <div class="footersecond">
            <p style="margin-top: 80px;margin-left: 420px; color: white;">Site by Outpost</p>
        </div>
    </div>
</body>

</html>