<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/discovery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <title>DiscoveryLand</title>
</head>

<body>
    <div class="maincard">
        <div class="firstcard">
            <div class="firsttag">
                <div class="firstimage1">
                    <img src="../assets/icon.png "
                        style=" background-color:white;  border-radius:50px; height: 50px;width: 50px;" alt="">
                    <div>
                        <p style="font-size:30px; color: white;">Discovery
                        </p>
                        <p style="color: white; font-size: 12px;">LAND COMPANY</p>
                    </div>
                </div>
                <div class="secondtag">
                    <a href="./about.html" class="textunderline" style="color: white; font-size: 18px;">About DLC</a>
                    <a href="./ourworld.html" class="textunderline" style="color: white; font-size: 18px;">Our World</a>
                    <a href="./experience.html" class="textunderline" style="color: white; font-size: 18px;">Experience </a>
                    <a href="./discovery.html" class="textunderline" style="color: white; font-size: 18px;"> Gallery</a>
                    <a href="" class="textunderline" style="color: white; font-size: 18px;">Press</a>
            <a href="..//template/home.html" style="color: aliceblue;font-size: 19px;"><i class="fa-solid fa-bars"></i></a>


                </div>
            </div>
            <div class="secondgallary">
                <p style="color: white; font-size: 60px; padding-top: 50px; padding-left: 120px;">Gallery</p>

            </div>
        </div>
        <div class="secondsection">
        <div class="secondcard">
            <img class="secondfirstimage "
                src="../assets/Stocksy_txp3615512ad2e200_OriginalDelivery_1580323-1_210301_201432_d169f13de117664acdaa1543841b7c16.jpg"
                alt="">
            <img class="secondfirstimage" src="../assets/Barefoot-golf-at-Gozzer-4_d169f13de117664acdaa1543841b7c16.jpg"
                alt="">
            <img class="secondfirstimage"
                src="../assets/beach-front-dining-with-friends_d169f13de117664acdaa1543841b7c16.jpg" alt="">

        </div>
        <div class="thirdcard">
            <p style="color: antiquewhite;font-size: 22px;" class="text"> Outdoor persilts</p>
            <p style="color: aliceblue; font-size: 22px; margin-left: 350px;">Golf</p>
            <p style="color: antiquewhite;font-size: 22px;margin-left: 300px;"class="text1 meediaimage">Lifestyle</p>
        </div>
    </div>
        <div class="fourthcard">
            <img class="secondfirstimage"
                src="../assets/lake-view-skiing-in-lake-tahoe_d169f13de117664acdaa1543841b7c16.jpg" alt="">
            <img class="secondfirstimage"
                src="../assets/luxury-clubhouse-yellowstone-club_d169f13de117664acdaa1543841b7c16.jpg" alt="">
            <img class="secondfirstimage"
                src="../assets/Wellness-gallery-1_11014826b3e36b3697374f276a89b517-2_210301_202121_d169f13de117664acdaa1543841b7c16.jpg"
                alt="">
        </div>
        <div class="fifthcard">
            <div class="fifthLandscape">
                <p style="color: antiquewhite;font-size: 20px;margin-left:22px ;"class="text mediaimage2">Landscapes</p>
            </div>
            <div>
                <p style="color: aliceblue; font-size: 22px; margin-left: 350px;">Clubhouses</p>
            </div>
            <div class="fifthlast">
                <p style="color: antiquewhite;font-size: 22px;margin-left: 300px;"class="text1 meediaimage1">Wellness</p>
            </div>
        </div>
        <div class="sixcard">
            <div class="sixfirstclass">
                <img style="height: 50px; width: 50px; margin-top: 120px; margin-left: 80px;background-color: white; border-radius: 50px;"
                    src="../assets/icon.png " alt="">
            </div>
            <div class="sixsecondclass">
                <div class="six2frist">
                    <p style="margin: 15px; font-size: 12px; color: white;">GET IN TOUCH</p>
                    <a style="margin: 15px; font-size: 12px; color: white;" href="">(480)624-5200</a>
                    <a href=""
                        style="margin: 15px; font-size: 16px; text-decoration: underline; color: white">mail@discoverylandco.com</a>
                    <p style="margin: 20px; font-size: 17px; color: white">REAL ESTATE</p>
                    <a href=""
                        style="margin: 20px; font-size: 16px; text-decoration: underline; color: white">realestate@discoverylandco.com</a>
                </div>
                <div class="six2second">
                    <a href="./about.html" style="margin: 15px; color: white;"> About DLC</a>
                    <a href="./ourworld.html" style="margin: 15px; color: white;">Our Worlds</a>
                    <a href="./experience.html" style="margin: 15px;color: white;">Experiences</a>
                    <a href="./discovery.html" style="margin: 15px;color: white;">Gallary</a>
                    <a href="" style="margin: 15px;color: white;">Press</a>

                </div>
                <div class="six2third">
                    <a href="" style="margin: 15px;color: white;"> Magazine</a>
                    <a href="" style="margin: 15px;color: white;">Careers</a>
                    <a href="" style="margin: 15px; color: white;">Foundation</a>
                    <a href="" style="margin: 15px; color: white;">Company</a>
                    <a href="" style="margin: 15px; color: white;">Contact</a>
                    <a href="" style="margin: 15px;color: white;">Privacy</a>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footerfirst">
                <p style="margin-top: 90px;margin-left: 60px;color: white;">© Discovery Land Company. All rights
                    reserved.</p>
            </div>
            <div class="footersecond">
                <p style="margin-top: 80px;margin-left: 420px; color: white;">Site by Outpost</p>
            </div>

        </footer>


    </div>
</body>

</html>