<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/experince.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>

<body>
    <div class="header">
        <video class="video" src="../assets/experiences_hero.mp4" data-length="" muted="" loop="" autoplay=""
            playsinline="">
        </video>
        <div class="header1">
            <img class="image1" src="../assets/icon.png" alt="">
            <div>
                <div style="font-size:30px; color: white;">Discovery</div>
                <p style="color: white; font-size: 12px;">LAND COMPANY</p>
            </div>
        </div>
        <div class="header2">
            <a href="../template/about.html" class="textunderline displaynone" style="margin: 19px; color: white; font-size: 18px;"> About DLC</a>
            <a href="./ourworld.html" class="textunderline displaynone" style="margin: 19px; color: white;font-size: 18px;">Our Worlds</a>
            <a href="./experience.html" class="textunderline displaynone" style="margin: 19px;color: white;font-size: 18px;">Experiences</a>
            <a href="./discovery.html" class="textunderline displaynone" style="margin: 19px;color: white;font-size: 18px;">Gallary</a>
            <a href="" class="textunderline displaynone" style="margin: 19px;color: white;font-size: 18px;">Press</a>
            <a href="..//template/home.html" class="textunderline" style="color: aliceblue;font-size: 19px;margin: 17px;"><i class="fa-solid fa-bars"></i></a>

        </div>
        <div class="header3">Unforgettable <br>
            experiences</div>
        <div style="color: white; position: absolute;top: 520px; left: 110px; font-size: 18px; color: #FFFFFFA6;">Scroll to explore</div>

    </div>
    <div class="first">
        Memorable days. Exceptional nights. We believe it’s our mission to <br>
        make every minute matter. So you can live your life to the fullest, <br> with the people closest to you.
    </div>
    <div class="second">
        <div class="secondtag1">
            <div class="firstsection">
                <div class="firsttext" style="color: #777; font-size: 27px;">Exclusive to <br>
                    your world
                </div>
            </div>
            <div class="secondsection">
                <div class="secondtext" style="color: #777; font-size: 19px;">
                    Our worlds are designed to offer you endless <br>
                    opportunities to share incredible once-in-a-lifetime <br>
                    experiences and adventures every single minute of the <br>
                    day. Each of our settings offer a relaxed sense of <br>
                    community through exceptional clubhouses, <br>
                    world-class golf courses, welcoming staff, and an <br>
                    extensive Outdoor Pursuits program. Create moments <br>
                    of joy and wonder, unforgettable memories, and <br>
                    cherished times together with those who matter most. </div>
            </div>
        </div>
        <div class="secondtag2">
            <img class="secondsectionimage" src="../assets/experience1.jpg" alt="">
        </div>

    </div>
    <div class="third">
        <div class="thirdimage">
        </div>
        <div class="thirdcardtext">
            <div class="data" style="color: #000000; font-size: 30px;">Golf</div>
            <div class="data" style="font-size: 17px; color: #777777;">We commission the world’s most renowned course
                <br> architects to design spectacular golf experiences on <br> challenging yet incredibly playable
                18-hole courses. Our <br> trademark comfort stations also set new standards in <br> on-course amenities.
            </div>
            <div class="data">
                <button type="button" class="button">Explore</button>
            </div>
        </div>
    </div>
    <div class="fourth">
        <div class="fouthimage"></div>
        <div class="fourthcardtext">
            <div class="data" style="color: #000000; font-size: 30px; padding-top: 80px;">Outdoor Pursuits</div>
            <div class="data" style="font-size: 17px; color: #777777;">
                Our signature Outdoor Pursuits program is designed for <br>
                families to create lasting memories together. Whether <br>
                you’re trying a new sport or taking a day trip, our team <br>
                will ensure you make the most of every minute with <br>
                activities designed to help you take advantage of <br>
                everything each region has to offer.
            </div>
            <div class="data">
                <button type="button" class="button">Explore</button>
            </div>
        </div>
    </div>
    <div class="fifth">
        <div class="fifthimage"></div>
        <div class="thirdcardtext">
            <div class="data" style="color: #000000; font-size: 30px; padding-top: 80px;">Wellness</div>
            <div class="data" style="font-size: 17px; color: #777777;">
                Unwind at an indulgent spa. Set challenging targets <br>
                with a tailor-made fitness plan. Or let our talented chefs <br>
                treat you to our flavorful international menus created <br>
                using the finest, carefully selected foods sourced locally <br>
                from organic farms.
            </div>
            <div class="data">
                <button type="button" class="button">Explore</button>
            </div>
        </div>
    </div>
    <div class="six">
        <div class="sixcard">
            <div class="sixcard1">Our Worlds</div>
            <div class="sixcard2">
                <div class="data">
                    <button type="button" class="button" style="background-color: none;">Explore</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer1">
        <div class="sixfirstclass">
            <img style="height: 50px; width: 50px; margin-top: 120px; margin-left: 80px;background-color: white; border-radius: 50px;"
                src="../assets/icon.png " alt="">
        </div>
        <div class="sixsecondclass">
            <div class="six2frist">
                <p style="margin: 15px; font-size: 12px; color: white;">GET IN TOUCH</p>
                <a style="margin: 15px; font-size: 12px; color: white;" href="">(480)624-5200</a>
                <a href=""
                    style="margin: 15px; font-size: 16px; text-decoration: underline; color: white">mail@discoverylandco.com</a>
                <p style="margin: 20px; font-size: 17px; color: white">REAL ESTATE</p>
                <a href=""
                    style="margin: 20px; font-size: 16px; text-decoration: underline; color: white">realestate@discoverylandco.com</a>
            </div>
            <div class="six2second">
                <a href="./about.html" style="margin: 15px; color: white;"> About DLC</a>
                <a href="./ourworld.html" style="margin: 15px; color: white;">Our Worlds</a>
                <a href="./experience.html" style="margin: 15px;color: white;">Experiences</a>
                <a href="./discovery.html" style="margin: 15px;color: white;">Gallary</a>
                <a href="" style="margin: 15px;color: white;">Press</a>
            </div>
            <div class="six2third">
                <a href="" style="margin: 15px;color: white;"> Magazine</a>
                <a href="" style="margin: 15px;color: white;">Careers</a>
                <a href="" style="margin: 15px; color: white;">Foundation</a>
                <a href="" style="margin: 15px; color: white;">Company</a>
                <a href="" style="margin: 15px; color: white;">Contact</a>
                <a href="" style="margin: 15px;color: white;">Privacy</a>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="footerfirst">
            <p style="margin-top: 90px;margin-left: 60px;color: white;">© Discovery Land Company. All rights
                reserved.</p>
        </div>
        <div class="footersecond">
            <p style="margin-top: 80px;margin-left: 420px; color: white;">Site by Outpost</p>
        </div>
    </div>
</body>
</html>