<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/ourworld.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


</head>

<body>
    <div class="header">
        <div class="header1">
            <img class="image1" src="../assets/icon.png" alt="">
            <div>
                <div style="font-size:30px; color: white;">Discovery</div>
                <p style="color: white; font-size: 12px;">LAND COMPANY</p>
            </div>
        </div>
        <div class="header2">
            <div class="heading">
              
                <a href="./about.html" class="textunderline displaynone" style="margin: 17px; color: white; font-size: 18px;"> About DLC</a>
                <a href="./ourworld.html" class="textunderline displaynone" style="margin: 17px; color: white;font-size: 18px;">Our Worlds</a>
                <a href="./experience.html" class="textunderline displaynone" style="margin: 17px;color: white;font-size: 18px;">Experiences</a>
                <a href="./discovery.html" class="textunderline displaynone" style="margin: 17px;color: white;font-size: 18px;">Gallary</a>
                <a href="" class="textunderline displaynone" style="margin: 17px;color: white;font-size: 18px;">Press</a>
           
                <a href="..//template/home.html" class="textunderline" style="color: aliceblue;font-size: 19px;margin: 17px;"><i class="fa-solid fa-bars"></i></a>

            </div>
        </div>
    </div>
    <div class="first">
        <div class="img1">
            <img class="imgtag1" src="../assets/ourworld1.jpg" alt="">
        </div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">The Hills Golf Club</div>
            <div style="color: #777">The Hamptons, New York</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld2.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Discovery Dunes</div>
            <div style="color: #777">Dubai South, United Arab Emirates</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld3.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Naples Beach Club</div>
            <div style="color: #777">Naples, Florida</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld4.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Taymouth Castle</div>
            <div style="color: #777">Perthshire, Scotland</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld5.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Homewood <br> Mountain & Lake Club
            </div>
            <div style="color: #777">Lake Tahoe, California</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld6.jpg" alt="">
        </div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Zapotal Golf & Beach Club</div>
            <div style="color: #777">Guanacaste, Costa Rica</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld7.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">North Shore Preserve</div>
            <div style="color: #777">Kaua'i, Hawaii</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld8.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">CostaTerra</div>
            <div style="color: #777">Comporta, Portugal</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld9.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Playa Grande</div>
            <div style="color: #777">Rio San Juan, Dominican Republic</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld10.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Yellowstone Club</div>
            <div style="color: #777">Big Sky, Montana</div>

        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld11.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">James Island</div>
            <div style="color: #777">British Columbia, Canada</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld12.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Barbuda Ocean Club</div>
            <div style="color: #777">Barbuda, West Indies</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld13.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Troubadour</div>
            <div style="color: #777">Nashville, Tennessee</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld14.png" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Driftwood</div>
            <div style="color: #777">Austin, Texas</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld15.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Chileno Bay</div>
            <div style="color: #777">Cabo San Lucas, Mexico</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld16.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">CordeValle</div>
            <div style="color: #777">Silicon Valley, California</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld17.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Madison</div>
            <div style="color: #777">La Quinta, California</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld18.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">The Summit</div>
            <div style="color: #777">Las Vegas, Nevada</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld19.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Hideaway</div>
            <div style="color: #777">La Quinta, California</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld20.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Estancia</div>
            <div style="color: #777">Scottsdale, Arizona</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld21.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Mirabel</div>
            <div style="color: #777">Scottsdale, Arizona</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld22.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">El Dorado</div>
            <div style="color: #777">Los Cabos, Mexico</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld23.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Gozzer Ranch</div>
            <div style="color: #777">Coeur d’Alene, Idaho</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld24.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Iron Horse</div>
            <div style="color: #777">Whitefish, Montana</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld25.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Vaquero</div>
            <div style="color: #777">Westlake, Texas</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld26.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Mountaintop</div>
            <div style="color: #777">Cashiers, North Carolina</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld27.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Baker's Bay</div>
            <div style="color: #777">Great Guana Cay, Bahamas</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld28.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Silo Ridge</div>
            <div style="color: #777">Amenia, New York</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld29.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Dune Deck</div>
            <div style="color: #777">Westhampton Beach, New York</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld30.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Kūki'o</div>
            <div style="color: #777">Kohala, Hawaii</div>
        </div>
    </div>
    <div class="first">
        <div class="img1"><img class="imgtag1" src="../assets/ourworld31.jpg" alt=""></div>
        <div class="text">
            <div style="text-transform: uppercase;margin-top: 0.6rem; color: white;">Mākena</div>
            <div style="color: #777">Maui, Hawaii</div>
        </div>
    </div>
    <div class="footer1">
        <div class="sixfirstclass">
            <img style="height: 50px; width: 50px; margin-top: 120px; margin-left: 80px;background-color: white; border-radius: 50px;"
                src="../assets/icon.png " alt="">
        </div>
        <div class="sixsecondclass">
            <div class="six2frist">
                <p style="margin: 15px; font-size: 12px; color: white;">GET IN TOUCH</p>
               <a style="margin: 15px; font-size: 12px; color: white;" href="">(480)624-5200</a>
               <a href="" style="margin: 15px; font-size: 16px; text-decoration: underline; color: white">mail@discoverylandco.com</a>
                <p style="margin: 20px; font-size: 17px; color: white">REAL ESTATE</p>
                <a href="" style="margin: 20px; font-size: 16px; text-decoration: underline; color: white">realestate@discoverylandco.com</a>
            </div>
            <div class="six2second">
                <a href="./about.html" style="margin: 15px; color: white;"> About DLC</a>
                <a href="./ourworld.html" style="margin: 15px; color: white;">Our Worlds</a>
                <a href="./experience.html" style="margin: 15px;color: white;">Experiences</a>
                <a href="./discovery.html" style="margin: 15px;color: white;">Gallary</a>
                <a href="" style="margin: 15px;color: white;">Press</a>

            </div>
            <div class="six2third">
                <a href="" style="margin: 15px;color: white;"> Magazine</a>
                <a href="" style="margin: 15px;color: white;">Careers</a>
                <a href="" style="margin: 15px; color: white;">Foundation</a>
                <a href="" style="margin: 15px; color: white;">Company</a>
                <a href="" style="margin: 15px; color: white;">Contact</a>
                <a href="" style="margin: 15px;color: white;">Privacy</a>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="footerfirst">
            <p style="margin-top: 90px;margin-left: 60px;color: white;">© Discovery Land Company. All rights
                reserved.</p>
        </div>
        <div class="footersecond">
            <p style="margin-top: 80px;margin-left: 420px; color: white;">Site by Outpost</p>
        </div>
    </div>



</body>

</html>