*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    }
body{
    height: 300vh;
    width: 99%;
    /* border: 1px solid yellow; */
}
.main{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    background-color: #111111;
}
.firstblock{
    height: 8%;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.firstcard{
    height: 100%;
    width: 50%;
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}
.image1 {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
    margin-bottom: 12px;

}
.text{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

}
.secondblock{
    height: 100%;
    width: 50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: end;

}
.secondcard{
    height: 100%;
    width: 30%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    height: 60%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    position: fixed;
}
.secondtext{
    height: 100%;
    width: 50%;
    /* border: 1px solid green; */
}
.textdata {
    height: 20%;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    font-size: 45px;
    text-decoration: none;
}

.content:hover {
    text-decoration: underline;
}
@media screen and (min-width:900px)and (max-width:1200px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: row;
        border: 5px solid green;
        flex-wrap: wrap;
      
    }
}
@media only screen and (max-width: 960px) and (min-width:700px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: row;
        border: 5px solid red;
        flex-wrap: wrap;
       

    }    
}
@media only screen and (max-width: 700px) and (min-width:400px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: row;
        border: 5px solid blue;
        flex-wrap: wrap;
    }
}